<nav class="bg-gray-900 text-white">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex justify-between items-center h-16">

            <!-- Logo -->
            <a href="/" class="text-lg font-semibold">Blogify</a>

            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-6">

                <a href="/"
                    class="<%= active === 'home' ? 'text-white font-semibold' : 'text-gray-300 hover:text-white' %>">
                    Home
                </a>

                <% if(user) { %>
                    <a href="/pricing"
                    class="<%= active === 'pricing' ? 'text-white font-semibold' : 'text-gray-300 hover:text-white' %>">
                    Add Blog
                    </a>

                    <!-- Dropdown -->
                    <div class="relative">
                        <button id="dropdownBtn"
                            class="<%= active === 'dropdown' ? 'text-white font-semibold' : 'text-gray-300 hover:text-white' %>">
                            User
                        </button>

                        <div id="dropdownMenu"
                            class="hidden absolute left-0 mt-2 w-40 bg-white text-black rounded shadow-lg">

                            <a href="/user/logout" class="block px-4 py-2 hover:bg-gray-100">LogOut</a>

                        </div>
                    </div>
                <% } else { %>
                    <a href="/user/signin"
                        class="<%= active === 'home' ? 'text-white font-semibold' : 'text-gray-300 hover:text-white' %>">
                        Sign In
                    </a>
                <% } %>

                

            </div>
        </div>

        <!-- Mobile Menu -->
        <div id="mobile-menu" class="hidden md:hidden px-4 pb-4 space-y-2">
            <a href="/" class="block">Home</a>
            <a href="/features" class="block">Features</a>
            <a href="/pricing" class="block">Pricing</a>
        </div>
</nav>

<script>
    const dropdownBtn = document.getElementById("dropdownBtn");
    const dropdownMenu = document.getElementById("dropdownMenu");

    dropdownBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        dropdownMenu.classList.toggle("hidden");
    });

    // close when clicking outside
    document.addEventListener("click", () => {
        dropdownMenu.classList.add("hidden");
    });
</script>